/* switch */
.pattern-switch {
  position: relative;
  display: inline-block;
  height: var(--size-5);
  width: var(--size-8);
  /* slider */
  span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-border-primary);
  }
  input:checked + span {
    background-color: var(--color-bg-switch);
  }
  span:before {
    position: absolute;
    content: "";
    top: var(--size-1);
    left: var(--size-1);
    height: var(--size-3);
    width: var(--size-3);
    background-color: var(--color-bg-secondary);
  }
  input {
    appearance: none;
  }
  input:checked + span:before {
    transform: translateX(var(--size-3));
  }
}
/* dropdown */
.pattern-dropdown {
  position: relative;
}
.pattern-dropdown > summary {
  list-style: none;
}
.pattern-dropdown > summary::-webkit-details-marker {
  display: none;
}
details[open].pattern-dropdown>summary:before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}
.pattern-dropdown>div {
  position: absolute;
  top: 2.5rem;
  right: 0;
  z-index: 100;
}

/* scrollbar */
/* scrollbar-thick */
.pattern-scrollbar-thick::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--color-bg-scrollbar);
}

.pattern-scrollbar-thick::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-scrollbar-thumb);
}
/* scrollbar-thin */
.pattern-scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--color-bg-scrollbar);
}
.pattern-scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-scrollbar-thumb);
}
/* button-group */
.pattern-button-group {
  display: inline-block;
  font-size: 0;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-border-primary);
}
.pattern-button-group > button {
  border: none;
  cursor: pointer;
}
.pattern-button-group > button+button {
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 1px;
  border-color: var(--color-border-primary);
}
/* specific */
.pattern-board-list-height {
  max-height: calc(100vh - 13rem);
}
.pattern-note-list-height {
  max-height: calc(100vh - 8.5rem);
}